
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


@section slide
    {
    <div class="header_slide">
        <div class="header_bottom_left">
            <div class="categories">
                <ul>
                    <h3>Danh Mục Sân</h3>
                    <li><a href="#">Sân Bóng Đá</a></li>
                    <li><a href="#">Sân Cầu Lông</a></li>
                    <li><a href="#">Sân TeNNIS</a></li>
                    <li><a href="#">Sân Bóng Rổ</a></li>
                    <li><a href="#">Sân Bóng Bàn</a></li>
                    <li><a href="#">Bàn Bi-a</a></li>
                    <li><a href="#">Phòng Tập Gym</a></li>
                    <li><a href="#">Sân GOLF</a></li>
                    <li><a href="#">Toys, Kids &amp; Babies</a></li>
                </ul>
            </div>
        </div>
        <div class="header_bottom_right">
            <div class="slider">
                <div id="slider">
                    <div id="mover">
                        <h3>Thông Tin Giới Thiệu</h3>
                        <div class="defaultContent TextHTML-content">
                            <p><a href="http://media.bizwebmedia.net/Sites/99622/data/upload/2015/5/popup2.jpg?0" target="_self"><img alt="" src="~/data/img/datsanonline.png" style="width: 550px; height: 250px;"></a></p>
                            
                            <p>&nbsp;</p>

                            <p><strong> BẠN GẶP PHẢI VẤN ĐỀ GÌ KHI CẦN ĐẶT SÂN ĐỂ CHƠI THỂ THAO?</strong></p>

                            <ol>
                                <li>1. Danh sách sân và thông tin liên hệ.</li>
                                <li>2. Không biết địa điểm và khung giờ phù hợp.</li>
                                <li>3. Bạn phải đến tận sân để hỏi và đặt sân.</li>
                                <li>4. Chỗ này hết sân rồi, liệu còn sân nào gần đây trống không.</li>
                                <li>5. Mất quá nhiều công sức và thời gian.</li>
                                <li>6. Thuê đâu vừa thuận tiện, rẻ và đẹp.</li>
                                <li>7. Làm sao để đặt sân dễ dàng hơn?</li>
                            </ol>

                            <p><strong>BẠN GẶP PHẢI VẤN ĐỀ GÌ KHI MUỐN CHƠI THỂ THAO?</strong></p>

                            <ol>
                                <li>1. Đối quen huỷ, cần tìm đối khác để chơi cùng.</li>
                                <li>2. Thiếu bạn chơi, vừa vui, vừa san sẻ chi phí.</li>
                                <li>3. Đặt sân cố định rồi mà chưa có đối?</li>
                            </ol>

                            <p><strong>BẠN GẶP PHẢI VẤN ĐỀ GÌ KHI CHO THUÊ SÂN ĐỂ CHƠI THỂ THAO?</strong></p>

                            <ol>
                                <li>1. Sân trống, vắng khách?</li>
                                <li>2. Sân trống đột xuất, làm sao để phủ ngay.</li>
                                <li>3. Sân mới, chưa nhiều người biết.</li>
                            </ol>


                            <p>
                                Chúng tôi cũng rất mong những ý kiến góp ý, chia sẻ chân thành để chúng
                                tôi ngày càng hoàn thiện và phục vụ</p>
                            <p> các bạn tốt hơn.
                            </p>

                            <p>Xin chân thành cảm ơn và chúc tất cả các bạn VUI, KHOẺ, THÀNH CÔNG!</p>

                            <p>Thay mặt Ban quản trị Website</p>

                            <p>Huỳnh Văn Đạt&nbsp;</p>

                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
}