
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="panel panel-success">
    <div class="panel-heading">
        Đặt hàng thành công
    </div>
    <div class="panel-body">
        <p>Nhân viên shop sẽ gọi điện xác nhận đơn hàng theo số điện thoại đã đăng ký.</p>
    </div>
    <div class="panel-footer">
        Thanks
    </div>
</div>
