
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="panel panel-success">
    <div class="panel-heading">
        Đặt Sân thành công
    </div>
    <div class="panel-body">
        <p>Nhân viên Sân sẽ  xác nhận đơn đặt sân của bạn đã đăng ký.</p>
    </div>
    <div class="panel-footer">
        Thanks
    </div>
</div>
