<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE HTML>
<html>
<head>
    <title>Đặt Sân Bóng Đá Online</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Asset/client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Asset/client/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    
    <link href="/Asset/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Asset/Client/css/jquery-ui.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="/Asset/admin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/Asset/admin/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/Asset/admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <script type="text/javascript" src="~/Asset/client/js/jquery-1.7.2.min.js"></script>
    <script src="/Asset/Client/js/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Asset/client/js/move-top.js"></script>
    <script type="text/javascript" src="~/Asset/client/js/easing.js"></script>
    <script type="text/javascript" src="~/Asset/client/js/startstop-slider.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="headertop_desc">
                @{ Html.RenderAction("TopMeNu", "Home");}                
            </div>
            <div class="header_top">
                <div class="logo">
                    <a href="#"><img src="images/logo.png" alt="" /></a>
                </div>
                @{ Html.RenderAction("HeaderCart", "Home");}
                <script type="text/javascript">
			function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;

					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});
				}
			}

			$(function() {

				var dd = new DropDown( $('#dd') );

				$(document).click(function() {
					// all dropdowns
					$('.wrapper-dropdown-2').removeClass('active');
				});

			});

                </script>
                <div class="clear"></div>
            </div>
            <div class="header_bottom">
                <div class="menu">
                    <ul>
                        <li class="active"><a href="/Home/index">Trang Chủ</a></li>
                        <li><a href="/About/index">Giới Thiệu</a></li>
                        <li><a href="#">Đặt Sân</a></li>
                        <li><a href="#">Danh Sách Sân</a></li>
                        <li><a href="#">Tin Khuyến Mãi</a></li>
                        <li><a href="#">Giải Đấu</a></li>
                        <li><a href="/Contact/Index">Liên Hệ</a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="search_box">
                    <form action="/tim-kiem" method="get">
                        <input type="text" id="txtKeyword" name="keyword" placeholder="Gõ từ khoá"><input type="submit" value="">
                    </form>
                </div>
                <div class="clear"></div>
            </div>
            @RenderSection("slide", required: false)

        </div>
        <div class="main">
            @RenderBody()

        </div>
    </div>
    <div class="footer">
        <div class="wrap">
            <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Liên Hệ</h4>
                    <ul>
                        <li><a>Sàn đặt sân</a></li>
                        <li><a>Đc: 353 Giải Phóng, Hà Nội</a></li>
                        <li><a>Hotline: 0974 1428 79</a></li>
                        <li><a>Email: datsan.vn@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Thông Tin</h4>
                    <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="contact.html">Customer Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="contact.html">Site Map</a></li>
                        <li><a href="#">Search Terms</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Qui Định & Chính Sách</h4>
                    <ul>
                        <li><a href="#">Sign In</a></li>
                        <li><a href="#">View Cart</a></li>
                        <li><a href="#">My Wishlist</a></li>
                        <li><a href="#">Track My Order</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">

                    <h4>FACEBOOK</h4>
                    <div class="_3hft">
                        <div class="_2p3a" style="min-width: 180px; width: 240px;">
                            <div class="_2lqh" style="max-height: 130px;">
                                <div style="height: 130px;" class="_1drm _1ds3" id="u_0_1">
                                    <div class="uiScaledImageContainer _2zfr" style="width:240px;height:130px;">
                                        <img class="scaledImageFitHeight img"
                                             src="https://scontent.fdad3-2.fna.fbcdn.net/v/t1.0-0/p130x130/11401024_999479513410655_8099847623947769129_n.jpg?_nc_cat=0&amp;oh=451ea2896639be67707d7c8d07d75342&amp;oe=5B57C565"
                                             alt="Ảnh của Sàn đặt sân." width="353" height="130">
                                    </div>
                                    @*<div class="_1dro _2ph- clearfix"><div class="_2zfs"></div>
                                        <a class="_3-8_ lfloat" href="https://www.facebook.com/Sàn-đặt-sân-985053514853255/"
                                        target="_blank"><img class="_1drn _-s img"

                                         src="https://scontent.fdad3-2.fna.fbcdn.net/v/t1.0-1/p50x50/30707214_453128581800500_2840468905236495713_n.jpg?_nc_cat=0&amp;oh=3f341d17c3dab414467eaea4eae69ff5&amp;oe=5B6445EF"
                                         alt="Út Rán" data-jsid="img"></a></li></ul></div></div></div></div></div></div>*@
                                    <ul>
                                        <li><a href="#" target="_blank"><img src="~/Asset/client/images/facebook.png" alt="" /></a></li>
                                        <div class="clear"></div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <script type="text/javascript">
		$(document).ready(function() {
			$().UItoTop({ easingType: 'easeOutQuart' });

		});
                    </script>
                    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
                    <script src="~/Asset/Client/js/Controllers/baseController.js"></script>
                    @RenderSection("jsFooter", required: false)
</body>
</html>

